h1 {
	font-size: 30px;
	text-align: center;
	color: #F19FF0;


}

body {
	font-size: 16px;
	font-family: Helvetica, sans-sertif;
	color: #D94882;
	background-image: url(images/asanoha-400px.png);
	text-align: center;
}

img2 {
text-align: left
}



